<h1>List of Matches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.name %></td>
        <td><%= link_to 'Delete', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Players', players_url(:match_id => match.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<br>

<%= link_to 'Create New Match', new_match_path %>